body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin-left: 35px;
    margin-right: 35px;
    color: rgb(83, 19, 19)
}
h2{
    margin-left: 35px;
}
table{
    width:100%;
}
img.thumb{
    display: block;
    width: 100%;
    height: auto;
}